__pycache__/
__pycache__
*.pyc
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.DS_Store
*.log
log/
redis-data/
postgres-data/
.git/
.gitignore
.venv/
venv/
docs/
